.mz-productdetail { 
    overflow: auto;
    .mz-productdetail-qty {
        width: 100%;
        height: 40px;
        margin-bottom: 0;
        border: 1px solid #d4d4d4;
    }
    .mz-price { 
        color: @textColor;
        font-size: 30px;
        line-height: 24px;
        &.is-crossedout{
            color: #9a9fa8;   
        }
        &.is-saleprice{
            font-weight: normal;   
        } 
    }
    .mz-pricestack-price-lower{
        &:after{
            position: relative;
            top: -5px;  
        }
    }
    .mz-price-discountname.orange-text{  
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
        .multiLineEllipsis(16px, 2);
        padding: 0;     
    } 
    .mz-price-msrp {
        display: block;
        font-size: @fontSizeSmall;
        color: lighten(@textColor, 15%);
        .mz-price {
            font-size: @fontSizeSmall;
        }
    }
    .mz-productdetail-notpurchasable {
        font-size: @fontSizeSmall;
        margin: 5px 0;
        color: #999;
    }
    .mz-productdetail-conversion {
        .clearfix();
        margin-top: 10px;
        .col-md-2 {
            padding-left: 0;
        }
    }
    .mz-productbundle-measurements-product {
        clear: both;
    }

    .mz-productbundle-measurements-productname {
        font-weight: bold;
    }
    .orange-text {
        font-size: 14px;
        text-transform: capitalize;
    }
}
.mz-category {
    #mz-drop-zone-body-bottom {
        margin-top: 70px;
    }
}

.mz-productdetail-conversion{
    .mz-productdetail-conversion-controls{
        .qty-block{ 
            .mz-productdetail-qty{ 
                border: none;
                padding: 8px 8px 8px 18px;
                text-align: left;   
            }     
        }
    }
    .mz-productdetail-conversion-buttons{
        .login-for-lowprice{
            background: #00adce;
            border: none;
            color: #fff;
            line-height: 17px;
            margin: 0;
        } 
    }

}
.popular-addons {
    .bx-wrapper {
        .bx-controls-direction {
            a {
                background-size: cover;
                width: 18px;
                height: 27px;
            }
        }
        .bx-prev {
            left: 0;
        }
        .bx-next {
            background-position: -21px 0;
            right: 0;
        }
    }
    
    .addon-product{ 
        float: left;
        text-align:center;
        width: 100px;
        margin-right: 10px;
        .add-it {     
            display: block;
            height: 30px;
            background-color: #00adce;
            text-align: center;
            font-size: 14px;
            color: #fff; 
            line-height: 30px; 
            margin-bottom: 15px;
            font-weight: 500px;  
            input[type="checkbox"]{
                position: relative;
                margin: 0 5px;
                top: 2px; 
            } 
        }
        .mz-productlisting-title{
            display: block;
            font-size: 12px;
            color: @textColor;
            text-transform: none;
            margin: 10px 0; 
            .multiLineEllipsis(14px, 2);
        }  
        .mz-price {
            color: @textColor; 
            font-size: 16px;
            line-height: 24px;
            font-weight: bold; 
        }  
    }
}

.mz-productdetail-shortdesc{
    &.mz-l-stack-section{
        text-transform: none;
        color: #666;    
    }
}

/**** PDP Videos ****/ 
/*.wistia_responsive_padding{
    padding: 0 !important;
    .wistia_responsive_wrapper{
        max-width: 550px !important; 
        position: static !important;  
    } 
}*/ 