
/**** Site Changes for large screens ****/
@media @mz-lg-media-query{ 
	.container{
		width: 100%;         
	} 
	.mz-sitenav{
		.mz-sitenav-top-categories{
			padding: 15px 0;
			.mz-category-image{
				margin-bottom: 12px;
				min-height: 120px; 
				img{
					max-width: 120px;
					max-height: 120px; 
				}  
			}  
		}
		.mz-sitenav-item{
			.mz-sitenav-link{
				font-size: 16px; 
				padding: 23px 16px 24px; 
			} 	
		}
		.noimage-placeholder{ 
			width: 120px;
			height: 120px; 
			.noimage-text{
				font-size: 20px;    
			} 
		} 
	} 
	
	/**** Search Box ****/  
	.mz-searchbox{
		@expandedSearchWidth: 750px;
		.mz-searchbox-input{
			width: @expandedSearchWidth;  
		} 	
	}
} 
