/*Header*/
.wholesale-program {
    .mz-l-pagecontent {
        &.container {
            max-width: 100%;
            width: 100%;
        }
    }
    .mz-wholesale-form {
        background: url(https://static.prima-coffee.com/pages//Prima-Catalog-2016-Cold-Brew.jpg) no-repeat center center;
        background-size: cover; 
        float: left;
        width: 100%;
        padding: 120px 0;
        .mz-contact-form {
            background: rgba(240,240,240,0.9);
            width: 480px;
            margin: 0 auto;
            padding: 30px 15px 60px; 
            label {
                font-size: 18px;
                font-weight: 500;
                color: #333;
                .is-required {   
                     font-size: 12px;
                     vertical-align: top;
                 }
            }
            .form-control {
                background: #fff;
                border-radius: 0;
                border-color: #ccc;
            }
            .mz-button {
                width: 100%;
            }
            .mz-certificate-upload {
                margin-bottom: 30px;
                input[type="file"] {
                    height: auto;
                    padding: 13px 0;
                }
               .mz-button {
                    margin-top: 0px;
                }
                .mz-file-description {
                    p {
                        font-size: 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .mz-pagefooter {
        clear: both;
    }
}

    #bottom-navigation {
        width: 100%;
        position: fixed;
        top: 0px;
        z-index: 1;
        left:0;
    }
    #bottom-navigation .navbar {
        padding: 10px 15px;
    }
    #bottom-navigation .brand-logo {
        width: 126px;
        height: 40px;
    }
    #bottom-navigation .mz-signup {
        color: #fff;
        margin-top: 10px;
    }
    /*\Header*/


    .main-header {
        padding-top: 100px;
        height: 850px;
        background: url('https://static.prima-coffee.com/pages//Prima-Catalog-2016-Chemex-Cover.jpg') no-repeat center;
        background-size: cover;
        margin-bottom: -3em;
        margin-top: -1em;
    }

    .header,
    .title,
    .center-content {
        margin-left: 20%;

    }

   .header {
        color: #000;
        margin-top: 4em;
        font-size: 3.76em;
        font-weight: 700;
        line-height: 58px;
    }

    .blue {
        color: #47adca;
    }

    .title {
        font-size: 1.925rem;
        font-weight: 500;
        color: #000;
    }

    .center-content {
        font-weight: 600;
        padding: .9em;
    }

    .content_masthead_wrapper {
        text-align: center;
        font-size: 3em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .content_masthead_text,
    .content_masthead_why {
        font-size: 1.3em;
        color: #283653;
        display: inline-block;
        float: none;
        line-height: 90%;
        
    }
    .content_masthead_why {
        font-size: 2em;
        font-weight: 700;
    }
    .main-blog-text {
        color: #fff;
        font-weight: 500;
        line-height: initial;
        font-size: 2.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: .5em;
    }
    .blue-bg {
        background-color: #47adca;
    }
    .p_text {
        text-align: center;
        font-size: 1.5em;
        font-weight: 500;
        line-height: 1.2em;
    }

    .marg-btm {
        margin-bottom: -3.09em;
    }
    #block-webform-client-block-32464 {
        height: 850px;
        background: url('https://static.prima-coffee.com/pages//Prima-Catalog-2016-Cold-Brew.jpg') no-repeat center;
        background-size: cover;
  
    }    
    .ul-footer {
        width: 100%;
        display: inline-flex;
        list-style: none;
        position: fixed;
        margin-top: 1.3em;
    }

    .li-footer {
        margin-left: 3%;
    }
    .span2>img {
        max-width: 125px;
        display: block;
        margin: auto;
    }
    /* Media Queries - Navbar */

    @media (min-width:980px) {
        #bottom-navigation .btn-navbar {
            display: none;
        }
        .category {
            display: none;
        }
    }

    @media (max-width: 979px) {
        #bottom-navigation .navbar-inner {
            max-height: 100%;
        }
        .ul-footer {
            display: block;
            margin-left: 3em;
            position: relative;
        }
        .brand img {
            margin-top: 15px;
        }
    }

    @media (max-width: 979px) and (min-width: 768px) {
        body {
            padding-top: 0px;
        }
    }

    @media (min-width: 799px) and (max-width: 979px) {
        .li-footer {
            display: -webkit-inline-box;
        }
    }

    @media (max-width: 405px) {
        #bottom-navigation .btn-navbar,
        .category {
            float: left;
        }
        .category {
            margin-left: -18.5em;
        }
        .logo {
            float: right;
            max-width: 25%;
            margin: 13px 0px 14px 8em;
        }
    }

    @media (max-width: 1450px) {
        form {
            left: 34.5%;
        }
        .p_text {
            font-size: 1em;
        }
    }

    @media (max-width: 1200px) {
        form {
            left: 31.5%;
        }
        .span2>img {
            max-width: 70%;
        }
    }

    @media (max-width: 979px) and (min-width: 768px) {
        .content_text {
            font-size: 1.3em;
        }
        form {
            left: 25.5%;
        }
    }

    .blue-bg {
                background-color: #47adca;
                float: left;
                width: 100%;
            }
            .why-prima ul li {
                float: left;
                width: 20%;
                text-align: center;
            }
            .why-prima ul li img {
                max-width: 125px;
            }
            .abc ul li h6 {
                margin: 15px 0;
                font-size: 16px;
            }

            .mz-blue-bg {
                background: #47adca;
            }

            .mz-blue-bg h6 {
                color: #fff;
                font-weight: 500;
                font-size: 2.5em;
                line-height: initial;
                margin-top: 1em;
                margin-bottom: 1em;
                padding: 3em;
            }
