.mz-breadcrumbs {
    padding: 8px 0 16px;
    text-transform: capitalize;
    .mz-breadcrumb-link,
    .mz-breadcrumb-current {
        color: @textColor;
    }
    .mz-breadcrumb-separator {
        display: inline-block;
        font-size: @fontSizeSmall; 
        margin: 0 2px;
    }
}
